:root{

--bg:#050816;
--bg2:#0B1023;

--primary:#00E5FF;
--secondary:#7B61FF;

--text:#ffffff;
--text2:#94A3B8;

--glass:rgba(255,255,255,.05);

--border:rgba(255,255,255,.08);

--radius:24px;

--container:1280px;

}
.container{

width:min(92%,1280px);

margin:auto;

}
*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:"Inter",sans-serif;

background:
radial-gradient(circle at top,#111B44 0%,#050816 60%);

color:#fff;

overflow-x:hidden;

min-height:100vh;

}
